.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link {
    font-size: 15px;
}

body {
    padding-top: 65px;
    background: #9053c7;
    /* Fallback for older browsers */
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid white; */
    /* background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

h1 {
    font-size: 30px;
    /* Adjust font size */
    margin-top: 30px;
    /* Add space below the heading */
}

.upload-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    padding: 2vw;
}

.upload-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-form input[type="file"],
.upload-form input[type="text"],
.upload-form input[type="datetime-local"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.upload-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    /* margin-top: 20px; */
    border-radius: 5px;
    /* font-size: 18px; */
}

.form-group {
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row .form-group {
    width: 48%;
}

.row .form-group input[type="file"] {
    margin-bottom: 0;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p:hover {
    opacity: 1;
    color: #ffffff;
}